[user]
	name = Masahiro Furudate
	email = 178inaba.git@gmail.com
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RF
	quotepath = false
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	cc = checkout .

	# codereview
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
[http]
	cookiefile = ~/.gitcookies
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	default = simple
[fetch]
	prune = true
[include]
	path = ~/.gitconfig.local
