"*":
  "atom-beautify":
    html:
      indent_size: 2
  autosave:
    enabled: true
  core:
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  docblockr:
    extend_double_slash: false
  editor:
    fontFamily: "Myrica M"
    fontSize: 13
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "ca4ba82f-55d9-6783-63e8-7a2a1588920c"
  minimap:
    autoToggle: false
  "package-sync":
    forceOverwrite: true
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
