packages: [
  "atom-alignment"
  "atom-beautify"
  "autocomplete-php"
  "busy-signal"
  "change-case"
  "docblockr"
  "file-icons"
  "highlight-selected"
  "intentions"
  "language-plantuml"
  "language-smarty"
  "linter"
  "linter-php"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "plantuml-viewer"
  "seti-syntax"
  "seti-ui"
]
