packages: [
  "atom-alignment"
  "atom-beautify"
  "autocomplete-php"
  "docblockr"
  "file-icons"
  "highlight-selected"
  "linter"
  "linter-php"
  "minimap"
  "package-sync"
  "seti-syntax"
  "seti-ui"
]
